.yukicenter{
    text-align: center;
    color: #69696d;
    background-color: #ffdbe9;
    border: 2px solid #dabfff;
    padding: 20px;
    border-radius: 30px;
}
.ziwojieshao {
    text-align: left;
    color: #0d0e3a;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px 20px;
    border-radius: 10px;
    margin: -10px auto 0 auto;
    width: 100%;
    max-width: 900px;
    min-height: 100px;
    line-height: 1.8;
}
.yukii{
    text-align: center;
    color: #6184cf;
}
a.yulink{
    color: #a2a29d;
    padding: 0 10px;
    border-radius: 20%;
}
a.yulink:hover{
    background-color: #97bcfc;
    color: #ffffff;
}
.asd{
    font-size: 20px;
    font-weight: 800;
}
.gogogo{
    font-size: 45px;
    text-align: center;
    clor: #59859b;
}
.gogogo a {
    color: #5e92d2;
    background-color: transparent;
    text-decoration: none;
}

.gogogo a:hover {
    color: #4551da;
    background-color: transparent;
}
.zzzzz{
    text-align: center;
}
section#about {
    background-image: url("../assets/img/bb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section#awards{
    background-color: #ffddfa5b;
}
#sideNav {
    background-color: #355078 !important;
}
.tsen-font {
    font-family: "Times New Roman", "Noto Serif TC", serif;
    color: #83bede !important;
}